[Desktop Entry]
Name=OZWAdmin
Comment=OpenZWave Administration Gui
Exec=ozwadmin
Type=Application
Icon=${SNAP}/meta/gui/ozwadmin.png
Categories=System;
